---
import "../../styles/global.css";
import "katex/dist/katex.min.css";
import Layout from "../../layouts/Layout.astro";
import Prose from "../../components/Prose.astro";
import FullReference from "../../components/FullReference.astro";
import { getCollection, render } from "astro:content";
export async function getStaticPaths() {
  const applications = await getCollection("applications");
  return applications.map((application) => ({
    params: { id: application.id },
    props: { application },
  }));
}
const { application } = Astro.props;
const { Content } = await render(application);
---

<Layout
  title={application.data.shortTitle}
  description={application.data.summary}
>
  <div class="w-full md:w-7/10 md:my-4">
    <div
      class="flex font-bold text-gray-900 dark:text-white text-2xl justify-between w-full mb-4"
    >
      <h1>
        {application.data.title}
      </h1>
      <div class="hidden md:block">
        {application.data.graph}
      </div>
    </div>
    <div class="flex flex-col">
      <Prose>
        <Content />
        <h3 id="references">References</h3>
        <ul class="flex flex-col gap-2 pl-0">
          {
            application.data.references.map((reference) => (
              <FullReference id={reference.id} />
            ))
          }
        </ul>
      </Prose>
    </div>
  </div>
</Layout>
