---
import "../../styles/global.css";
import "katex/dist/katex.min.css";
import Layout from "../../layouts/Layout.astro";
import Prose from "../../components/Prose.astro";
import ReferenceList from "../../components/ReferenceList.astro";
import BackButton from "../../components/BackButton.astro";
import { getCollection, render } from "astro:content";
export async function getStaticPaths() {
  const applications = await getCollection("applications");
  return applications.map((application) => ({
    params: { id: application.id },
    props: { application },
  }));
}
const { application } = Astro.props;
const { Content } = await render(application);
---

<Layout title={application.data.shortTitle}>
  <div class="w-full md:w-7/10 md:my-4">
    <div
      class="flex font-bold text-gray-900 text-lg md:text-xl justify-between w-full mb-4"
    >
      <h1>
        {application.data.title}
      </h1>
      <div class="hidden md:block">
        {application.data.graph}
      </div>
    </div>
    <div class="flex flex-col">
      <Prose>
        <Content />
      </Prose>
      <div class="flex flex-row mt-6">
        <ReferenceList
          references={application.data.references}
          darker={true}
          small={false}
        />
      </div>
    </div>
  </div>
</Layout>
