---
const { id, format } = Astro.props;
import { getEntry } from "astro:content";
const reference = await getEntry("references", id);
import Authors from "./Authors.astro";
---

<!-- ugly but necessary to avoid extra whitespace --><!-- prettier-ignore -->
<a href={reference?.data.url} class="no-underline">{format == "author(year)" && (<Authors authors={reference?.data.authors} /><span> ({reference?.data.year})</span>)}{format == "author year" && (<Authors authors={reference?.data.authors} /><span> {reference?.data.year}</span>)}</a>
