---
import "../styles/global.css";
import Ruletable from "./Ruletable.astro";
const { ruletable } = Astro.props;
---

<div
  class="mt-3 mb-2 border border-gray-200 rounded-lg shadow-sm overflow-hidden"
>
  <div class="flex justify-start p-3">
    <a
      href={`/ruletables/${ruletable.id}/`}
      class="text-sm md:text-lg font-bold max-w-13/16 truncate"
    >
      {ruletable.data.title} ({ruletable.data.graph})
    </a>
  </div>
  <Ruletable
    id={ruletable.data.source.id}
    largeText={true}
    codeClass="md:text-base h-38 md:h-58 rounded-none p-3"
    suppressButton={true}
  />
</div>
